{% extends 'layout.html' %}
{% block content %}

<h2>Completed Tests: {{ completed_length }}</h2>
<table class="table table-hover">
  <tr>
    <th>&nbsp;</th>
    <th><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>&nbsp;&nbsp;Build Log</th>
    <th><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;Commit SHA</th>
    <th><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;Test Timestamp</th>
  </tr>
  {% for item in completed %}
  {% set prlist = item['unique_name'].split('/') %}
  {% if item['response']['success'] == 0 %}
    {% set icon_class="glyphicon-ok" %}
    {% set icon_color="green" %}
  {% else %}
    {% set icon_class="glyphicon-remove" %}
    {% set icon_color="#B00000" %}
  {% endif %}
  <tr>
    <td align='center'><span class="glyphicon {{ icon_class }}" aria-hidden="true" style="color: {{ icon_color }}; text-align: center;"></span></td>
    <td><a href="http://ci.puppet.community/buildlogs/{{ item['log_path'] }}" style="color: {{ icon_color }}">{{item['unique_name']}}</a></td>
    <td><a href="https://github.com/{{prlist[0]}}/{{prlist[1]}}/commit/{{item['pull']['merge_commit_sha']}}" style="color: {{ icon_color }}">{{item['pull']['merge_commit_sha']}}</a></td>
    <td>{{ item['pull']['begin_test'] }}</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
