{% extends 'layout.html' %}
{% block content %}

<h2>Completed Tests: {{ completed_length }}</h2>
<table class="table table-hover">
  <tr><th>Build log for</th><th>Commit SHA</th></tr>
  {% for item in completed %}
  {% set prlist = item['unique_name'].split('/') %}
  {% if item['response']['success'] == 0 %}
    {% set success=True %}
  {% else %}
    {% set success=False %}
  {% endif %}
  <tr {% if not success %}class="danger"{% endif %}><td><a href="http://ci.puppet.community/buildlogs/{{ item['log_path'] }}">{{item['unique_name']}}</a></td><td><a href="https://github.com/{{prlist[0]}}/{{prlist[1]}}/commit/{{item['pull']['merge_commit_sha']}}">{{item['pull']['merge_commit_sha']}}</a></td></tr>
  {% endfor %}
</table>

{% endblock content %}
