{% extends 'layout.html' %}
{% block content %}
<h3>PCCI Web Interface</h3>
PCCI is the "Puppet Community Continuous Integration" Service. It provides beaker tests-per commit for puppet community and other modules.
<p>
Read more about Puppet Community <a href="http://puppet.community">here</a>
<p>
The <a href="https://github.com/puppet-community/pcci">software</a> and <a href="https://github.com/puppet-community/pcci-configuration">configuration</a> of this service is open source. You are encouraged to contribute. If you would like PCCI to cover your puppet module, hop in #puppet-community on irc.freenode.net and ask how to get started"


{% endblock content %}
