{% extends 'layout.html' %}
{% block content %}
<h2>PCCI Web Interface</h2>
PCCI is the "Puppet Community Continuous Integration" Service. It provides beaker tests-per commit for Puppet Community and other modules.
<p>
Read more about Puppet Community <a href="https://puppet.community">here</a>
<p>
The <a href="https://github.com/puppet-community/pcci">software</a> and <a href="https://github.com/puppet-community/pcci-configuration">configuration</a> of this service is open source. You are encouraged to contribute. If you would like PCCI to cover your puppet module, hop in #voxpupuli on irc.freenode.net and ask how to get started.


{% endblock content %}
