{% extends 'layout.html' %}
{% block content %}

<h2>Module: {{ module_name }}</h2>
<h3>Completed Tests: {{ completed_length }}</h3>
<table class="table table-hover">
  <tr>
    <th>Pull Request</th>
    <th>Success</th>
    <th>Seconds</th>
    <th>Nodeset</th>
    <th>Log</th>
  </tr>
  {% for item in completed %}
  {% if item['response']['success'] == 0 %}
    {% set success=True %}
  {% else %}
    {% set success=False %}
  {% endif %}
  <tr {% if not success %}class="danger"{% endif %}>
    <td><a href='{{ item.github_url }}'>{{ "PR #" + item.pr_num }}</a></td>
    <td>{{ item.response.string_success }}</td>
    <td>{{ item.response.time }}</td>
    <td>{{ item.nodeset }}</td>
    <td><a href="http://ci.puppet.community/buildlogs/{{ item.log_path }}">Log</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
