{% extends 'layout.html' %}
{% block content %}

<h2>{{ module_name }}</h2>
<h3>Completed Tests: {{ completed_length }}</h3>
<table class="table table-hover">
  <tr>
    <th>&nbsp;</th>
    <th><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Pull Request</th>
    <th><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Seconds</th>
    <th><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Nodeset</th>
    <th><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Log</th>
  </tr>
  {% for item in completed %}
  {% if item['response']['success'] == 0 %}
    {% set success=True %}
    {% set icon_class="glyphicon-ok" %}
    {% set icon_color="green" %}
  {% else %}
    {% set success=False %}
    {% set icon_class="glyphicon-remove" %}
    {% set icon_color="#B00000" %}
  {% endif %}
  <tr>
    <td align='center'><span class="glyphicon {{ icon_class }}" aria-hidden="true" style="color: {{ icon_color }}; text-align: center;"></span></td>
    <td><a href='{{ item.github_url }}' style="color: {{ icon_color }}">{{ "PR #" + item.pr_num }}</a></td>
    <td>{{ item.response.time }}</td>
  {% if item.nodeset == "trusty" %}
     {% set logo_img="ubuntu.logo.png" %}
  {% else %}
     {% set logo_img="centos.logo.png" %}
  {% endif  %}

    <td><img src="{{ url_for('static', filename='img/' + logo_img)}}" height=20px; width=20px;>&nbsp;&nbsp;{{ item.nodeset }}</td>
    <td><a href="http://ci.puppet.community/buildlogs/{{ item.log_path }}">View</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
