{% extends 'layout.html' %}
{% block content %}
<br>
<h2>Module: {{ item.module_name }}</h2>
<h3>Completed Tests: {{ completed_length }}</h3>
<table>
<tr>
<th>Module Name</td>
<th>Success</td>
<th>Seconds</td>
<th>Log</td>
<th>Github</td>
</tr>
{% for item in completed %}
<tr>
<td>{{ item.unique_name }}</td>
<td>{{ item.response.string_success }}</td>
<td>{{ item.response.time }}</td>
<td><a href="http://planck.nibalizer.com/buildlogs/{{ item.log_path }}">Log</a></td>
<td><a href="http://github.com/{{ item.unique_name }}">Github</a></td>
</tr>
{% endfor %}
</table>

{% endblock content %}
